*{
    margin: 0%;
}
.head{
    background-image: url(../images/banner/banner3.png);
    height: 880px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    
}
.head-box{
    padding: 150px;
}
.head-tittle{
    padding: 15px;
    font-size: 45px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.head-paragraph{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: medium;
    padding: 15px;
}
.head-buttond{
    padding: 15px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #005FAC;
    margin: 15px;
    border-radius: 15px;
    font-weight: 900;
}
/* failure Section */

.failure-box{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 150px;
}
.failure-tittle{
    padding: 15px;
    font-size: 45px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.failure-paragraph{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #444343;
    font-size: medium;
    padding: 15px;
}
.failure-list{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #444343;
    font-size: medium;
    padding-left: 25px;
    list-style-image: url(../images/icons/icons8-check-mark-16.png);
}

/* my plan */
.my-plan {
    
}

.my-plan-tittle {
    text-align: center;
    font-size: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.plan-box {
    padding-top: 50px;
   display: flex;
   justify-content: space-around;
   text-align: center;

}

.plan-icon {
    padding: 20px;
   
}

.plan-tittle {
    padding: 15px;
    font-size: 25px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.plan-sub-tittle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #444343;
    font-size: medium;
    padding: 15px;
}

/* call now section */
.call-now {
    display: flex;
    justify-content: center;
        
}

.call-now-box {
    
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%) , url(../images/watch.png);
    height: 300px;
    width: 700px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;
    
}

.call-now-tittle {
    margin-top: 85px;
    text-align: left;
    padding: 15px;
    font-size: 35px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    align-items: center;
    
}

.button-call-now {
    text-align: left;
    color: #005FAC;
    font-size: 25px;
    padding: 15px 35px;
    border-radius: 8px;
    border-color: ghostwhite;
    margin-left: 15px;
}
/* footer */
.footer{
    margin-top: 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;  
}
.footer1-tittle{
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 50px 0 15px 350px ;
}
.footer1-paragraph{
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 0 15px 350px ;

}
.footer-icon{
    padding: 5px 0 80px 350px ;
}
.footer2-tittle{
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 50px 450px 15px 0 ;
}
.email{
    background-color: black;
    border:solid 2px;
    border-radius: 8px;
    border-color: antiquewhite;
    color: beige;
    padding: 15px 35px 15px 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer-button{
    margin-top: 15px;
    background-color: rgb(23, 124, 190);
    padding: 15px 35px 15px 15px;
    border-radius: 8px;
    font-weight: 800;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;

}