*{
    margin: 0%;
}
.head{
    background-image: url(../images/banner/banner3.png);
    height: 880px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    
}
.head-box{
    padding: 150px;
}
.head-tittle{
    padding: 15px;
    font-size: 45px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.head-paragraph{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: medium;
    padding: 15px;
}
.head-buttond{
    padding: 15px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #005FAC;
    margin: 15px;
    border-radius: 15px;
    font-weight: 900;
}
/* failure Section */

.failure-box{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 150px;
}
.failure-tittle{
    padding: 15px;
    font-size: 45px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.failure-paragraph{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #444343;
    font-size: medium;
    padding: 15px;
}
.failure-list{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #444343;
    font-size: medium;
    padding-left: 25px;
    list-style-image: url(../images/icons/icons8-check-mark-16.png);
}

/* my plan */
.my-plan {
    
}

.my-plan-tittle {
    text-align: center;
    font-size: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.plan-box {
    padding-top: 50px;
   display: flex;
   justify-content: space-around;
   text-align: center;

}

.plan-icon {
    padding: 20px;
   
}

.plan-tittle {
    adding: 15px;
    font-size: 25px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.plan-sub-tittle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #444343;
    font-size: medium;
    padding: 15px;
}

/* call now section */
.call-now {
    justify-content: center;
}

.call-now-box {
    
    background: url(../images/watch.png);
    height: 300px;
    width: 700px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
   
    

}

.call-now-tittle {
    text-align: left;
}

.button-call-now {
    text-align: left;
}
